/* icons styles */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  
}

.body{
    margin: 0px;
    padding: 0;
}
.container{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: cadetblue;
    height: 100vh;
    
}

.frame{
    background-color: rgb(203, 212, 216);
    height: 600px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin-top: 5px;
    overflow-y: scroll;
    scrollbar-width: thin;
    position: absolute;
    
}

.note-head{
    width: 500px;;
    height: 30px;
    background-color: rgb(253, 236, 0);
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    border-radius: inherit;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.1);

   
}

.note-head h3{
    margin: 0px;
    margin-left: 200px;
    color: black;
}

.note-head i{
    margin-right: 5px;
    cursor: pointer;
    color: black;
    transition: transform .2s;
}

.note-head i:hover{
    transform: scale(1.2);
    color: green;
}

.box{
    width: 485px;
    height: 50px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(231, 231, 224);
    color: 10375C; 
    transition: transform .2s;

}



.box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(193, 233, 213) ;
    transform: scale(1.01);
    border-radius: 0px;
    position: relative;
    z-index: 1000;
}

.title{
    margin-left: 15px;
}

.btns{
    display: flex;
    margin-right: 10px;
    gap: 20px;
    cursor: pointer;
    color: white;

}

.btns span{
    color: #4A628A;
    transition: transform .2s;

}


.btns span:hover{
    transform: scale(1.3);
}
